@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,400');



#title{
  background-color: #d1c9c9;
}

h2{
font-family: "Montserrat-Light";

}

h4{
  font-family: "Montserrat-Bold";
  font-weight: bolder
}



p{
  font-family: 'Montserrat-Black';
  word-spacing: 1.3;
  color: #a1a1a1

}

#brand-name{
  color: rgb(122, 121, 107)! important;
}

.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
  color: rgb(122, 121, 107)! important;
}


.image-title{
width: 40%;
height: 95%;
transform: rotate(-2deg)

}


/* features */
/* centering feature text */
#features{
  text-align: center;
  padding: 5%
}

.icon{
  color:  rgb(155, 160, 86)
}

.icon:hover{
  color: #ececec;
}




/* ============ Testmonials  ==================== */
.bg-testimonial{
  background-color: #a7a4a4;
  border-radius: 20px;

}

.testimoial{
  text-align: center;
 
  /* centering */
  padding: 5%;
  color: #fff;
}

.testimoial img{
  border-radius: 50%
}